<div
  class="px2 sm-py2 md-py4 flex-grow flex flex-column align-items-center justify-around sm-justify-between sm-x-tall--justify-center"
>
  <p
    class="mb0 h00 lh1 center serif white ie-border-box ie-max-w-100per bg-light-black-transp2 sm-py1 sm-px2"
  >
    {{ site.meta.tagline }}
  </p>
  <div>
    <a
      href="#shop"
      class="goToShop btn btn-hero bg-white light-black h3 sm-h2 hover-inset-shadow regular"
      >Shop ↓</a
    >
    <a
      href="/portfolio/"
      class="ml3 btn btn-hero bg-white light-black h3 sm-h2 hover-inset-shadow regular"
      >Portfolio</a
    >
  </div>
</div>
