<aside
  id="hiatus-flash"
  class="px1{% if page.url == '/' %} mtn2 md-mtn3r mb2{% else %}{% endif %}"
>
  <div class="p2 warning-flash flex flex-center justify-between">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    <span class="px2 flex-auto h5 sm-h4"
      >We are temporarily closed to make time for local markets. Please {% if
      page.url != '/contact/' %}<a href="/contact" class="light-black"
        >get in touch</a
      >{% else %}get in touch{% endif %} if you are interested in buying a bag
      and we'll try to make that happen.</span
    >
  </div>
</aside>
