<div
  class="col-12 sm-col-6 md-col-4 py1 px2 sm-p2 iso-item"
  data-type="{% for type in product.type %}{{ type }}{% if forloop.last == false %}{{ ' ' }}{% endif %}{% endfor %}"
  data-materials="{% for material in product.materials %}{{ material }}{% if forloop.last == false %}{{ ' ' }}{% endif %}{% endfor %}"
>
  <div class="ih-item circle effect13 from_left_and_right not-rounded">
    <a href="{{ product.slug }}">
      <div class="img">
        <img
          src="{{ site.cloudinary.cloudinary }}{{ site.cloudinary.trnsfrm_med }}{{ product.imgPrimary }}"
          class="mbn1"
          alt="{{ product.displayName }} {{ site.meta.byline }}"
          title="{{ product.displayName }} {{ site.meta.byline }}"
        />
      </div>
      <div class="info overflow-hidden">
        <div class="info-back">
          <img
            src="{{ site.cloudinary.cloudinary }}{{ site.cloudinary.trnsfrm_med }}{{ product.imgSecondarySet[0] }}"
            class="mbn1"
            alt="{{ product.displayName }} {{ site.meta.byline }}"
            title="{{ product.displayName }} {{ site.meta.byline }}"
          />
        </div>
      </div>

      {% if product.stockOnHand == 0 %}
      <p class="sticker mb0">Sold Out</p>
      {% endif %}
    </a>
  </div>
</div>
