<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body>
    <div class="ie-FlexContainerWrapper">
      <div class="vh100 flex flex-column">
        {% include header.html %}

        <section class="flex-auto">
          <div class="container">
            <div class="mb3 flex flex-column align-items-center">
              <div class="ie-border-box ie-max-w-100per sm-col-6">
                <div class="p2 light-black">
                  <h1 class="sm-mt0 center serif">Contact Azellaz</h1>
                  <p class="serif">
                    Email us at
                    <span class="bold">{{ site.externalLinks.email }}</span>
                    about our bags or an order you've placed.
                  </p>
                  <p class="serif">
                    We're also online at
                    <a
                      href="{{ site.externalLinks.instagram }}"
                      class="light-black"
                      >Instagram</a
                    >
                    and
                    <a
                      href="{{ site.externalLinks.github }}"
                      class="light-black"
                      >GitHub</a
                    >.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
