<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body>
    <div class="ie-FlexContainerWrapper">
      <section
        class="fullScreenPic heroImg vh100 z1 flex flex-column justify-between"
      >
        {% include header.html %}
        {% include hero.html %}
      </section>
    </div>
    {% include shop.html %}
    {% include footer.html %}
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/imagesloaded.min.js"></script>
    <script src="js/smoothscroll.min.js"></script>
    <script src="js/az.js"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </body>
</html>
